.popover__overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;

	&--visible {
		visibility: visible;
	}
}


.popover__container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
