@import '~styles/colors';
@import '~styles/variables';

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.main {
	padding: 2px $default-padding;
	flex: 1 1 auto;
	overflow-y: scroll;
}
.item {
	padding: 2px 0;
}
